<div id="my_map" class="my_custom_map">
  <div id="my_c_map_content_container" class="disable_map">
    <ul class="disable_map">
      <li><h1><%= @my_map_hash["name"] %></h1><li>
      <li><span><%= @my_map_hash["description"] %></span><li>
      <% @my_map_hash["photos"].each do |p| %>
        <li>
          <div class="c_map_content">
            <h4><%= p.name %></h4>
            <img src=<%= p.image_url %> />
            <span><%= p.description %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
