<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "HappyMap" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  </head>

  <body>

  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
       <div class="navbar-header"><a href="/photos" class="title" %>HappyMapper</a></div>

    <ul class = "nav navbar-right navbar-nav">
        <% if !current_user %>
          <li>
            <a id="signInButton" href="#">Sign In</a>
          </li>
          <li>
            <a id="signUpButton" href="#">Sign Up</a>
          </li>
        <% else %>
          <li><%= link_to current_user.username, edit_user_registration_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
    </ul>
  </div>
  </nav>

  <div class="modal fade" id="signIn" role="dialog" aria-labelledby="signIn" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-power-off"></i></button>
          <h4 class="modal-title" id="myModalLabel">Sign In</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for(:user, :url => user_session_path) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
            </div>

            <div class="form-actions">
            <button type="submit" style="border: 0; background: transparent">
              <i class="fa fa-arrow-right submitLogIn"></i>
            </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signUp" role="dialog" aria-labelledby="signUp" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-power-off"></i></button>
          <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <%= simple_form_for(:user, url: user_registration_path) do |f| %>

            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :username, required: true, autofocus: true, label: "Username" %>
              <%= f.input :email, required: true, label: "Email" %>
              <%= f.input :password, required: true, label: "Password" %>
              <%= f.input :password_confirmation, required: true, label: "Confirm" %>
            </div>

            <button type="submit" style="border: 0; background: transparent">
              <span class="submitLogIn">Start Mapping!</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <%= yield %>
  </body>
</html>

