<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  </head>

  <body>
  <div class = "contain-to-grid">
  <nav class="top-bar" data-top-bar>
  <section class="top-bar-section">

    <ul class="title-area">
      <li class="name">
        <h1 style="color:white;">Photo Album</h1>
      </li>
    </ul>

    <ul class = "right">
        <div class= class="row">
        <% if !current_user %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
          <li><p id="username"><%= current_user.username %></p></li>
          <li><%= link_to "Edit Account", new_user_session_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        <div>
      </li>
    </ul>
    </section>
    </nav>
    </div>

    <p><%= flash[:alert] %></p>
    <p><%= flash[:notice] %></p>

    <%= yield %>
    <%= javascript_include_tag  %>
  </body>
</html>

