<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class = "contain-to-grid">
  <nav class="top-bar" data-top-bar>
  <section class="top-bar-section">

    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Photo Album", { :controller => "photos", :action => "index" },
        :remote => true %></h1>
      </li>
    </ul>

    <ul class = "right">
      <li>
        <div class= class="row">
          <%= simple_form_for @new_photo do |f| %>
            <div class="large-6 columns">
              <%= f.input :image, type: :file, :input_html => { :multiple => true, class: "large-4 columns " }, label: false %></div>
          <%= f.button :submit, 'Map them!' %>
          <% end %>
        <div>
      </li>
    </ul>
    </section>
    </nav>
    </div>

  <div id='photos'>
  </div>


    <%= yield %>
    <%= javascript_include_tag  %>
  </body>
</html>

